@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
}
body {
  background-image: url(../imagens/fundo.png);
  margin: 0px;
  padding: 0px;
}
.container-grid {
  width: auto;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cabecalho {
  height: 80px;
  width: 100%;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menu a {
  color: white;
  display: block;
  padding: 10px;
  margin-left: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
}
.banner {
  background-image: linear-gradient(45deg, #ff164b, #ff1547, #090447, #000);
  height: 800px;
  opacity: 0.9;
  border-radius: 1.5%;
  margin: 10px;
}
.posicao-texto {
  /*  justify-content: flex-end; */
}
.imagens-banner img {
  max-width: 100%;
  width: 350px;
  flex-wrap: wrap;
  margin: 5px;
  border-radius: 3%;
}
.texto-banner {
  padding: 20px;
  width: 495px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-size: 2rem;
}
.texto-banner h1 {
  font-family: 'Poppins' sans-serif;
  font-size: 75px;
  font-weight: bold;
}
.texto-banner a {
  background-color: white;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 5px;
}
.texto-banner a:hover {
  background-image: linear-gradient(90deg, #ff164b, #ff1547, #090447, #000);
  color: #fff;
}
.texto-banner p {
  color: white;
  margin-bottom: 50px;
}
.secao-jogos {
  /*  background-image: linear-gradient(90deg, #ff164b, #ff1547, #090447, #000); */
}
.jogos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.jogos > div {
  flex: 1 1 120px;
}
.jogos img {
  max-width: 100%;
  width: 300px;
  display: block;
  margin: 5px;
  border-radius: 3%;
}
.secao-sobre {
  width: 100%;
  height: 800px;
  padding: 50px;
}
.conteudo-sobre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}
.categorias img {
  width: 500px;
  margin: 5px;
  border-radius: 2%;
  box-shadow: 0px 0px 10px #737373, 0px 0px 10px #737373;
}
.categorias a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.barras {
  width: 30px;
  display: none;
}
.posicionamento-header {
  position: relative;
}
.news {
  background-image: linear-gradient(45deg, #ff164b, #ff1547, #090447, #000);
  opacity: 0.9;
  border-radius: 1.5%;
  margin: 10px;
  height: 800px;
  width: 100%;
  background-repeat: none;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.noticias {
  font-size: 20px;
  padding: 25px;
  color: white;
}
.noticias:hover {
  background-color: #090447;
  border-radius: 1.5%;
}
.noticias h2 {
  text-transform: uppercase;
  font-size: 2em;
}
.rodape {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.links {
  color: white;
}
.links h2 {
  font-size: 24px;
  padding: 5px;
  text-transform: uppercase;
  text-align: left;
}
.links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}
.links-footer {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.logo-rodape {
  width: 200px;
  height: 60px;
  margin-top: 30px;
}
.sociais h2 {
  color: white;
  font-size: 14px;
  margin-bottom: 8px;
}
.sociais form {
  font-size: 14px;
  display: flex;
  margin-bottom: 8px;
}
.sociais input[type='email'] {
  height: 37px;
  width: 195px;
}
.sociais input[type='email']::placeholder {
  color: #737373;
  font-weight: bold;
}
button {
  width: 156px;
  color: white;
  background-image: linear-gradient(90deg, #ff164b, #ff1547, #090447);
  border: none;
  font-size: 18px;
}
.siga-nos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.siga-nos h2 {
  color: white;
}
.siga-nos img {
  width: 50px;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .cabecalho {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container-grid {
    width: 100%;
  }
  .menu a {
    font-size: 20px;
  }
  .logo {
    width: 200px;
  }
  .banner {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .posicao-texto {
    display: flex;
    justify-content: space-between;
  }
  .img-banner {
    width: 300px;
    height: 100%;
  }
  .texto-banner {
    display: inline;
    align-items: center;
    width: 500px;
    height: 100%;
    text-align: center;
    padding: 10px;
    margin: 10px;
  }
  .secao-jogos {
    display: flex;
  }
  .jogos img {
    width: 180px;
    height: auto;
  }
  .secao-sobre {
    height: 500px;
    width: 100%;
  }
  .conteudo-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .categorias img {
    width: 300px;
    height: auto;
    margin: 10px;
  }
  .categorias h2 {
    font-size: 20px;
  }
  .news {
    width: 100%;
    height: 500px;
  }
  .noticias h2 {
    font-size: 20px;
  }
  .noticias p {
    font-size: 16px;
  }
  .logo-rodape {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .barras {
    display: inline-block;
    background-color: #ff164b;
    width: 40px;
  }
  .menu {
    display: none;
    flex-direction: column;
    width: 250px;
    position: absolute;
    top: 0;
    height: 65px;
    background-color: #ff164b;
  }
  .menu a {
    text-align: center;
    padding: 15px;
  }
  .menu-ativo {
    display: flex;
  }
  .posicionamento-header {
    position: relative;
  }
  .banner {
    width: 100%;
    height: 600px;
  }
  .posicao-texto {
    font-family: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .texto-banner {
    text-align: center;
  }
  .secao-jogos {
    display: none;
  }
  .secao-sobre {
    width: 100%;
    height: auto;
  }
  .conteudo-sobre {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .categorias {
    margin: 15px;
  }
  .categorias h2 {
    text-align: center;
  }
  .categorias img {
    width: 100%;
  }
  .news {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .rodape {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .links-footer {
    width: 200px;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .links {
    width: 100%;
    margin: 20px;
  }
  .logo-rodape {
    display: none;
  }
  .sociais {
    flex-direction: column;
    align-items: center;
  }
  .siga-nos {
    margin: 10px;
  }
}
