@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-grid {
  width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  background-color: black;
  height: 80px;
}
.menu {
  width: 660px;
  display: flex;
  justify-content: space-between;
}

.menu a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
.banner {
  background-image: url(../imagens/novo-banner.jpg);
  height: 800px;
  position: relative;
  background-repeat: none;
  background-size: cover;
}
.posicao-texto {
  justify-content: flex-end;
}
.texto-banner {
  width: 495px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Poppins' san-serif;
  font-size: 25px;
}
.texto-banner h1 {
  font-family: 'Poppins' sans-serif;
  font-size: 75px;
  font-weight: bold;
}
.texto-banner a {
  background-color: white;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 5px;
}
.texto-banner p {
  color: white;
  margin-bottom: 50px;
}
.secao-jogos {
  background-color: black;
}
.jogos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jogos img {
  width: 300px;
  height: auto;
  margin: 5px;
  border-radius: 3%;
}
.secao-sobre {
  background-color: black;
  width: 100%;
  right: 685px;
  padding: 50px;
}
.conteudo-sobre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}
.categorias img {
  width: 500px;
  right: auto;
  margin: 5px;
  border-radius: 2%;
  box-shadow: 0px 0px 10px #737373, 0px 0px 10px #737373;
}
.categorias a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.barras {
  width: 30px;
  display: none;
}
.posicionamento-header {
  position: relative;
}
.news {
  background-image: url(../imagens/news-banner.jpg);
  height: 800px;
  width: 100%;
  position: relative;
  background-repeat: none;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.noticias {
  font-size: 25px;
  padding: 25px;
  color: white;
}
footer {
  background-color: black;
}
.rodape {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.links {
  color: white;
}
.links h2 {
  font-size: 24px;
}
.links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.links-footer {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.logo-rodape {
  width: 200px;
  height: 60px;
  margin-top: 30px;
}
.sociais h2 {
  color: white;
  font-size: 14px;
  margin-bottom: 8px;
}
.sociais form {
  font-size: 14px;
  display: flex;
  margin-bottom: 8px;
}
.sociais input[type='email'] {
  height: 37px;
  width: 195px;
}
.sociais input[type='email']::placeholder {
  color: #737373;
  font-weight: bold;
}
button {
  width: 156px;
  color: white;
  background-color: blue;
  border: none;
  font-size: 18px;
}
.siga-nos h2 {
  color: white;
}
.siga-nos img {
  width: 50px;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .container-grid {
    width: 90%;
  }
  .menu a {
    font-size: 16px;
  }
  .logo {
    width: 200px;
  }
}
@media screen and (max-width: 768px) {
  .barras {
    display: inline-block;
    width: 30px;
  }
  .menu {
    display: none;
    flex-direction: column;
    width: 250px;
    position: absolute;
    top: 0;
    height: 60px;
    background-color: white;
  }
  .menu a {
    text-align: center;
    padding: 15px;
  }
  .menu-ativo {
    display: flex;
  }
  .posicionamento-header {
    position: relative;
  }
}
